
/*-------------TABLE PARENT-------------*/
.table-parent{
    padding: 10px;
    background-color: transparent;
    width: 100%;
    height: 100%;

}

/*-------------SEARCH BAR-------------*/
.navigation-bar{
    background: transparent;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

form{
    width: auto;
    height: 2rem;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    gap: 10px;
    border-radius: 3rem;
    overflow: hidden;
    border: 0.5px solid black;
}

input{
    outline: none;
    border: none;
}

/*-------------LABEL BAR-------------*/
.label-row-grid{
    border-radius: 1rem;
    background-color: rgb(175, 175, 175);
    justify-content: flex-start;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}

.grid-divider{
    display: block;
    background-color: black ;
    height: 100%;
    width: 1px;
    padding: 0;
    margin: 0;
    position: absolute;
}


/*-------------DATA TABLE-------------*/
.data-table{
    background-color: transparent(66, 47, 84);
    justify-content: flex-start;
    padding: 0.3rem;
}